@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

/* TAREA PONER RESPONSIVE EL TEXTO QUE ESTA EN EL HEADER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link .nav_bar {
    color: green;
}

.contain_banner {
    background: url(../images/Fondo_Header.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.banner {
    width: 80%;
    text-align: center;
    padding: 260px 50px;
    margin-left: 115px;
}

.banner_text {
    text-align: center;
    top: 200px;
    left: 150px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
}

.titulo-dos {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #f71642;
    font-size: 30px;
    margin: 20px;
    margin-top: 20px;
    /* height: 300px;
  top: 100px;
  position: relative; */
}

.container_eslogan {
    background: #eeeeee;
}

.eslogan_img {
    text-align: center;
    height: 220px;
    width: 100%;
}

@media screen and (max-widht: 800px) {
    .banner_text {
        font-size: 36px;
        top: 143px;
        left: 107px;
    }
    .contain_banner {
        max-width: 800px;
        height: 500px;
    }
    .eslogan_img {
        margin-left: 350px;
    }
}

.p_card {
    color: #ec600e;
    font-family: 'Titillium Web', sans-serif;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.login {
    border-radius: 10px;
    background: #7AC8F5;
}

.registrarse {
    margin-right: 7px;
    border-radius: 10px;
    background: #FEAD76;
}

.login:hover {
    background-color: #00A2FF;
    color: #eeeeee;
    transition-duration: 0.25s;
}

.registrarse:hover {
    background-color: #ec600e;
    color: #eeeeee;
    transition-duration: 0.25s
}